@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
html {
  font-size: 62.5%;
  /* 1rem=10px */
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: tomato;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

footer {
  background-color: black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  opacity: 0.9;
  margin-top: auto;
}

footer p {
  color: white;
  padding: 1rem;
  font-size: 2rem;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 1rem;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 280px) and (max-width: 319px) {
  header {
    height: 13vh;
    width: 100vw;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 0.7rem;
  }
  .lang {
    font-size: 5.5rem;
    padding: 2rem 2rem;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 12px 3px lightblue;
            box-shadow: 5px 5px 12px 3px lightblue;
    margin: 3rem;
  }
  .click {
    border: none;
    background-color: #2b90e2;
    color: white;
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.7rem;
  }
  section {
    height: 87vh;
  }
  footer {
    position: static;
    bottom: 0;
    padding-top: 1rem;
    text-align: center;
  }
  footer p {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 320px) {
  header {
    height: 100vh;
    padding-top: 1rem;
    text-align: center;
    letter-spacing: 0.8rem;
  }
  header h1 {
    font-size: 0;
  }
  section {
    height: 85vh;
  }
  .lang {
    font-size: 8rem;
    padding: 2rem 2rem;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 17%;
        flex-basis: 17%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 12px 3px lightblue;
            box-shadow: 5px 5px 12px 3px lightblue;
    margin: 3rem;
  }
  .click {
    border: none;
    background-color: #2b90e2;
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    font-weight: 700;
    padding: 1.2rem;
  }
  footer {
    position: static;
    bottom: 0;
    padding: 0.5rem;
    height: auto;
    text-align: center;
  }
  footer p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 411px) {
  header {
    height: 12vh;
    font-size: 2.7rem;
    padding: 1rem 1rem;
    letter-spacing: 1rem;
  }
  section {
    height: 88vh;
  }
  footer {
    position: static;
    bottom: 0;
    text-align: center;
  }
  footer p {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 576px) {
  header {
    height: 12vh;
    font-size: 3rem;
    padding: 1rem 1rem;
    letter-spacing: 1.3rem;
  }
  section {
    height: 88vh;
  }
  footer {
    position: static;
    bottom: 0;
    padding: 1rem;
    text-align: center;
  }
  footer p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 769px) {
  header {
    height: 12vh;
    font-size: 3rem;
    padding: 1rem 1rem;
    letter-spacing: 1rem;
  }
  section {
    height: 76vh;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 12vh;
    font-size: 3rem;
    padding: 1rem 1rem;
    letter-spacing: 1rem;
  }
  section {
    height: 88vh;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 13vh;
    font-size: 3rem;
    padding-top: 2rem;
    letter-spacing: 1rem;
  }
  section {
    height: 87vh;
  }
  .lang {
    font-size: 9rem;
    padding: 2rem 2rem;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 12px 3px lightblue;
            box-shadow: 5px 5px 12px 3px lightblue;
    margin: 2rem;
  }
  .click {
    border: none;
    background-color: #2b90e2;
    color: white;
    font-size: 1.8rem;
    border-radius: 15px;
    padding: 1.2rem;
  }
  footer {
    position: static;
    bottom: 0;
    padding: 1rem;
    text-align: center;
  }
  footer p {
    font-size: 2.7rem;
  }
}

@media screen and (min-width: 1200px) {
  .lang {
    font-size: 9rem;
    padding: 2rem 2rem;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 12px 3px lightblue;
            box-shadow: 5px 5px 12px 3px lightblue;
    margin: 3rem;
  }
  header {
    height: 13vh;
    font-size: 3rem;
    padding-top: 1.5rem;
    letter-spacing: 1.5rem;
  }
  section {
    height: 87vh;
  }
  .click {
    border: none;
    background-color: #2b90e2;
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    padding: 1.2rem;
  }
}
/*# sourceMappingURL=main.css.map */